<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user %></h1>
    <p>Welcome to your homepage <b> <%= user %> </b> </p>
    <a href="/accounts/logout" >Sair</a>
  </body>
</html>
