<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Sommeting happens </title>
    </head>
        <body>
        <h1> <%= errName %> </h1>
        <h3> <%= errMessage %> </h3>
    </body>
</html>
