<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Something is wrong... </title>
    </head>
    <body>
        <h1> <%= errName %> </h1>
        <h2> <%= errMessages %> </h2>
    </body>
</html>
